#dst-25 {
background:# 052f5f!important;
padding: 0;
padding-top: 20px;
}
#dst-25 div {
background: transparent!important;
padding: 0;
}
#dst-25 h3 {
color: white;
text-transform: uppercase;
font-size: 25px;
}

#titulo_cnt_dst_59 {
display: none;
}

#titulo_cnt_dst_63 {
text-align: center;
margin-top: 50px;
font-size: 25px;
}

@media (min-width: 551px) {

#dst-25 h3 {
font-size: 35px;
}


}


